body{
  border: 0px;
  margin: 0px;
  overflow-x: hidden;
}

p{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
}

.top{
  height: 13vh;
  width: 100vw;
  background-color:#ced9d1;
  display:flex;
  position: relative;
}

.navbar{
  height: auto;
  width: 100vw;
  background-color: black;
  color: white;
  text-align: right;
}


.navbtn{
   height: 2vw;
   border-width: 1px;
   border-color: white;
   background-color: black;
   color:white;
   font-family: monospace;
   margin-right: 1vw;
   margin-top: 1px;
   margin-bottom: 1px;
}

#logo{
  margin-top: 1vh;
  margin-left: 20vw;
  height: 10vh;
}

#titulo{
  padding-left: 24vw;
  font-family: monospace;
  font-size: 3vw;
}


.list{
  list-style: none;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-gap: 1vw;
  margin-left: 0px;
}


.cell{
 height: 12vh;
 background-color: #046e00;
 color: #fff;
 border-radius: 5px;
 padding: 20px;
 font-size: 150%
}

.search{
  margin-left: 4vw;
  margin-top:4vh;
  font-size: 2vw;
  height: 4vh;
}

@media only screen and (max-width: 700px) {
  .navbtn{
    height: 6vw;
  }

  .search{
    margin-left: 4vw;
    margin-top:4vh;
    font-size: 6vw;
    height: 4vh;
  }

  #logo{
    margin-top: 1vh;
    margin-left: 10vw;
    height: 7vh;
  }

  .list{
    margin-top: 5vh;
    grid-template-columns: none;
    width:auto;
    padding-right: 2vw;
    padding-left: 2vw;
  }


  #titulo{
    margin-top:10vw;
    padding-left: 5vw;
    font-family: monospace;
    font-size: 5vw;
  }

  .navbar{
    display:block;
    height: auto;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
  }

  .cell{
    font-size: 2vh;
  }
}
